/* You can add global styles to this file, and also import other style files */

/* angular-cli file: src/styles.css */
@import "../../../node_modules/angular-calendar/css/angular-calendar.css";
@import "./theme.scss";

html {
    background-color: #f5f6fa;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}